<shared-page-loader *ngIf="!loaded"> </shared-page-loader>

<mat-card *ngIf="loaded">
  <div *ngIf="isError" fxLayout fxLayoutAlign="center">
    <mat-chip-list>
      <mat-chip color="warn" selected>Oops! Something went wrong, please try refreshing the page.</mat-chip>
    </mat-chip-list>
  </div>
  <div *ngIf="!isError">
    <div [@pageState]="pageState" fxLayout class="body-wrapper">
      <div fxFlex="10">
        <div fxLayout class="header-cell empty-header-cell"></div>
        <div fxLayout fxLayoutAlign="center center" class="time-cell" *ngFor="let workingHour of workingHours">
          {{(workingHour.hour
          < 13) ? workingHour.hour : workingHour.hour - 12}} <sup *ngIf="workingHour.hour < 12">AM</sup>
            <sup *ngIf="workingHour.hour >= 12">PM</sup>
        </div>
      </div>
      <div fxFlex="30" *ngFor="let item of currentDates">

        <div fxLayout fxLayoutAlign="center center" class="header-cell">{{item.date}}</div>
        <div fxLayout class="row-cell" *ngFor="let element of item.dateObj">
          <div *ngIf="element.isEvent && element.event.height > 0" class="event-cell" [ngStyle]="{'height.px': element.event.height - 5}">
            <div class="event-title">{{element.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>