.body-wrapper {
    width: 80%;
    margin: 0 auto;
}

.header-cell {
    min-height: 30px;
    border-top: 1px solid #c5bfbf;
    border-right: 1px solid #c5bfbf;
    border-bottom: 1px solid #c5bfbf;
    background: #e6e6e6;
}

.empty-header-cell {
    border-left: 1px solid #c5bfbf;
}

.time-cell {
    min-height: 50px;
    border-right: 1px solid #c5bfbf;
    border-bottom: 1px solid #c5bfbf;
    border-left: 1px solid #c5bfbf;
    background: #e6e6e6;
}

.row-cell{
    min-height: 50px;
    position: relative;
    border-bottom: 1px solid #c5bfbf;
    border-right: 1px solid #c5bfbf;
    z-index: 0;
}

.event-cell {
    width: 98%;
    background: #b3bdda;
    position: absolute;
    border: 2px solid #97a5cc;
    z-index: 1;
}

.event-title{
    margin: 5px 0 0 10px;
}